@model IEnumerable<QuestRoom.BLL.DTOModels.RoomDTO>

@{
    /**/

    ViewBag.Title = "Index";
}



<h2>Index</h2>

    <ul id="cities" class="list-group">
        @foreach (var c in ViewBag.Cities)
        {
             <li> <input id="@c.Id" onchange="Click_cities(event)" type="checkbox" /> @c.Name</li>
           
        }
    </ul>


@*@Ajax.ActionLink(City, "RoomsByCity", new { id = @item.id }, new AjaxOptions { UpdateTargetId = "cities" })*@

<div class="container">

   
        <div id="roomsResult">
            @{
                Html.RenderPartial("RoomsByCity", Model);
            }
        </div>
      
</div>

<script >

    function Click_cities(event) {
        var city_id = event.target.id;
        console.log(city_id);
        $('#roomsResult').load('@Url.Action("RoomsByCity", "Rooms")?id='+city_id);
    }

</script>